<footer class="footer">
  <small>
    
  </small>
  <nav class="container">
    <ul >
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>